<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCKIvIE47aop8d6QFMzMJXniUIeW1_pOUo</string>
	<key>GCM_SENDER_ID</key>
	<string>207712300966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DenisSavishchev.OnlineShop</string>
	<key>PROJECT_ID</key>
	<string>devis-social-shop</string>
	<key>STORAGE_BUCKET</key>
	<string>devis-social-shop.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:207712300966:ios:312bb0338e325d8e8fa967</string>
</dict>
</plist>